.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-left: 340px;

}

.footer-buttom{
    background-color:#333;
    color: white;
    
    }
    
    .footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
    text-decoration: none;
    }
    
    .footer a{
    
        text-decoration: none;
        color: #777;
    }

    .style{
    border-radius: 5px ;
    }
    /*---------------fotter---------/*
    
    